body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}
.test-div {
  padding: 10px;
  background-color: gray;
  border: solid;
  border-color: black;
  height: 100px;
  width: 100px;
  margin: 5px;
}
